AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
AIRTABLE_TABLE_PRODUITS=Produits
AIRTABLE_TABLE_FRAIS=FraisLivraison
AIRTABLE_TABLE_CONTENU=Contenu
AIRTABLE_TABLE_DEMANDES=DemandesPersonnalisees
BLOB_READ_WRITE_TOKEN=
PHOTO_ACCESS_KEY=
SITE_URL=
NEXT_PUBLIC_WHATSAPP_NUMBER=213000000000
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/qyrondz/
